/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/*
 * Custom definitions for es_ES.UTF-8
 */
#define C_TRANCADA BSLH
#define ES_SLH AMPS
#define ES_APOSTROPHE_QUESTION_MARK MINUS
#define ES_EXCLAMATION_INVERSE_QUESTION_MARK EQUAL
#define ES_RBRC RA(C_TRANCADA)
#define ES_LBRC RA(SQT)


/*
 * Shorthand definitions es_ES.UTF-8
 */
#define ES_AP_QM MINUS
#define ES_EX_IQM EQUAL

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------
// | TAB        |  Q        |  W  |  F  |  P  |  B   |   |  J  |  L   |  U  |  Y  |  Ñ  | BKSP    |
// | LALT       |  A        |  R  |  S  |  T  |  G   |   |  M  |  N   |  E  |  I  |  O  |  ´      |
// | ESC / SHFT |  LCTRL Z  |  X  |  C  |  D  |  V   |   |  K  |  H   |  ,  |  .  |  Ç  | RCTRL / |
//                                | GUI | SPC | BSPC |   | LWR | ENT  | RSE |
            bindings = <
   &kp TAB        &kp Q        &kp W &kp F     &kp P      &kp B     &kp J &kp L    &kp U      &kp Y    &kp SEMI        &kp BSPC
   &kp LALT       &kp A        &kp R &kp S     &kp T      &kp G     &kp M &kp N    &kp E      &kp I    &kp O           &kp SQT
   &mt LSHFT ESC  &mt LCTRL Z  &kp X &kp C     &kp D      &kp V     &kp K &kp H    &kp COMMA  &kp DOT  &kp C_TRANCADA  &mt RCTRL ES_SLH
                                     &kp LGUI  &kp SPACE  &kp BSPC  &mo 1 &kp RET  &mo 2
            >;
        };

        lower_layer {
// --------------------------------------------------------------------------------------
// | TAB        |  1  |  2  |  3  |  4  |  5   |   |  6  |  7  |  8  |  9  |  0  | BKSP    |
// | LALT       |     |     |     |     |      |   | LFT | DWN |  UP | RGT |     |  ´      |
// | ESC / SHFT |     |     |     |     |      |   |     |     |     |     |     | RCTRL / |
//                          | GUI | SPC | BSPC |   | LWR | ENT | RSE |
            bindings = <
   &trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6    &kp N7    &kp N8  &kp N9      &kp N0  &trans
   &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT   &trans  &trans
   &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans      &trans  &trans
                                   &trans  &trans  &trans    &trans    &trans  &trans
            >;
        };

        raise_layer {
// --------------------------------------------------------------------------------------
// | TAB        |  !  |  "  |  ·  |  $  |  %   |   |  &  |  /  |  (  |  )  |  =  | BKSP    |
// | LALT       |     |     |     |     |      |   | ' ? | ¡ ¿ |  [  |  ]  |     |  ´      |
// | ESC / SHFT |     |     |     |     |      |   |     |     |  {  |  }  |     | RCTRL / |
//                          | GUI | SPC | BSPC |   | LWR | ENT | RSE |
            bindings = <
   &trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET     &kp AMPS       &kp KP_MULTIPLY  &kp LPAR     &kp RPAR     &trans
   &trans  &trans    &trans  &trans    &trans    &trans     &trans        &kp ES_AP_QM   &kp ES_EX_IQM    &trans       &trans       &trans
   &trans  &trans    &trans  &trans    &trans    &trans     &trans        &trans         &trans           &kp ES_LBRC  &kp ES_RBRC  &trans
                                       &trans    &trans     &trans        &trans         &trans           &trans
            >;
        };
    };
};

